@charset "UTF-8";

/* Configurações de todas as telas */

/* 
    Telas pequenas: até 600px
    Celular: de 60px até 768px
    Tablets : de 768px até 992px
    Destrok: de 992px até 1200px
    Telas grandes: acima de 1200px

    */

    @media screen and (min-width: 768px) and (max-width: 992px) { 
        /* Configuração tela TABLET */

        body {
            background-image: url(../imagens/back-tablet.jpg);
        }

        img {
            background-image: url(../imagens/icon-tablet.png);
        }

        img#tel { display: none;}
        #tab { display: block;}
        #pri { display: none;}
        #pc { display: none;}
        #tv { display: none;}
    }

    @media screen and (min-width: 992px) and (max-width: 1200px) { 
        /* Configuração tela DESTROK */

        body {
            background-image: url(../imagens/back-pc.jpg);
        }

        img {
            background-image: url(../imagens/icon-pc.png);
        }

        img#tel { display: none;}
        #tab { display: none;}
        #pri { display: none;}
        #pc { display: block;}
        #tv { display: none;}
    }

    @media screen and (min-width: 1200px) { 
        /* Configuração TELAS GRANDES */

        body {
            background-image: url(../imagens/back-tv.jpg);
        }

        img {
            background-image: url(../imagens/icon-tv.png);
        }

        img#tel { display: none;}
        #tab { display: none;}
        #pri { display: none;}
        #pc { display: none;}
        #tv { display: block;}
    }

    

